* {
	margin: 0;
}

/* for Sticky footer */
html {
	height: 100%;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	position: relative;
	min-height: 100%;
	margin: 0;
	/*padding-bottom: 6rem; /* to keep footer from overlapping - see below*/
	padding-bottom: 10px;
}

footer {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 0;
	text-align: center;
	background: black;
	vertical-align: baseline;
	clear: both;
	width: 100%;
}
/* If you know the height of the footer, then you should set it explicitly, and set the bottom padding of the footer’s parent element to be the same value (or larger if you want some spacing).

This is to prevent the footer from overlapping the content above it, since it is being removed from the document flow with position: absolute;.
/****  end of section for Sticky footer ****/

.footer-info {
	font-size: 10px;
	margin: 0;
	padding: 10px;
	line-height: 15px;
	color: white;	
}

html {
	background-image: url("../../assets/images/FullSizeBG.jpg");
	background-repeat: no-repeat;	
	max-width: 100%;
	height: 100%;
	/*overflow: auto;*/
	background-size: cover;
}

header {	
	text-align: center;
	background: black;
	vertical-align: baseline;
	clear: both;
	width: 100%;
}

#header-info1 {
	font-size: 20px;
	line-height: 30px;
	margin: 0;
	padding: 10px;
	color: white;	
}

.gameInfo {
	float: right;
	text-align: center;
	padding: 30px;
	margin: 30px;
	background-color: white;
	color: black;
	max-width: 400px;
}

#display{
	background: darkgray;
	color:green;
	font-size: 120px;
	font-family: monospace;
	text-align: center;
}

#wrapper{
	width: 700px;
	margin: 0 50px;
}

#gallery{
	text-align: center;
}

img {
	height:150px;
	width:150px;
	margin: 10px ;
}

img:hover {
  	box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
  	transform: scale(1.25);
  	transition:all 0.5s;
}

#box1a, #box1b, #box1c{
	background: darkgray;
	width:150px;
	height:150px;
	overflow:auto;
	margin-top: 10px;
	text-align: center;
	display: inline-block;
}

#box2{
	background: darkgray;
	width:150px;
	height:150px;
	overflow:auto;
	margin-top: 10px;
	text-align: center;
}

#attackBtn, #restartBtn {
	display: inline-block;
}

#box3{
	background: darkgray;
	width:150px;
	height:150px;
	overflow:auto;
	margin-top: 10px;
	text-align: center;
}

@media only screen and (max-width: 768px) {


}