* {
	margin: 0;
}

/* for Sticky footer */
html {
	height: 100%;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	position: relative;
	min-height: 100%;
	margin: 0;
	/*padding-bottom: 6rem; /* to keep footer from overlapping - see below*/
	padding-bottom: 50px;
	background-image: url("../../assets/images/FullSizeBG.jpg");
	background-repeat: no-repeat;	
	max-width: 100%;
	height: 100%;
	/*overflow: auto;*/
	background-size: cover;
}

header {	
	text-align: center;
	background: black;
	vertical-align: baseline;
	clear: both;
	width: 100%;
}

#header-info1 {
	font-size: 20px;
	line-height: 30px;
	margin: 0;
	padding: 10px;
	color: white;	
}

#gameInfo {
	float: right;
	text-align: center;
	padding: 30px;
	margin: 30px 50px;
	background-color: white;
	color: black;
	max-width: 400px;
}

.wizard-wrapper {
	max-width: 700px;
    margin: 0 200px auto;
    text-align: left;
}

img {
	height:150px;
	width: 150px;
	margin: 10px 10px 0 10px;
}
/*
.wizards {
	display: inline-block;
	float: left;
	max-width: 170px;
}
*/
#gallery p {
	max-width: 400px;
	background: white;
	color: black;
	margin: 10px 0;
	padding: 5px;
	text-align: center;
}

.attacker {
	max-width:200px;
	max-height:200px;
	margin-top: 10px;
	text-align: center;	
}
.attacker img, .defender img {
	margin-top: 5px;
}
.attacker p {
	background-color: white;
	color: black;
	max-width: 150px;
	margin:0 22px;	
}

.defender p {
	background-color: white;
	color: black;
	max-width: 150px;
	margin:0 22px;
}

#attackBtn, #restartBtn {
	display: inline-block;
	padding: 10px;
	margin: 20px 10px 10px 20px;
}

.defender {
	max-width: 200px;
	max-height: 200px;
	margin-top: 10px;
	text-align: center;	
}


@media only screen and (max-width: 768px) {


}